<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Obs SC</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active:ctrl.route=='saisie_chasse'}"
          uib-dropdown on-toggle="toggled(open)" ng-if="ctrl.userRights.medium" >
            <a href="#!/saisie_chasse" uib-dropdown-toggle>Saisie<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href="#!/saisie_chasse">Constats chasse</a></li>
            </ul>
        </li>
      </ul>
      <login-form-directive />
    </div>
  </div>
</nav>
