<!DOCTYPE html>
<html ng-app="saisieChasseApp">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="static/app/vendors/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="static/app/vendors/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css"/>

<script src="static/app/vendors/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
<!--<script src="app/vendors/bootstrap-3.3.5-dist/js/bootstrap.min.js"/></script>-->
<script src="static/app/vendors/ui-bootstrap-tpls-0.13.4.min.js"></script>

<style type="text/css">
    /* Forms */
    .ng-invalid {
      border-color: red;
      outline-color: red;
    }
</style>
</head>

<body>
    <div class="container">
        <div ng-view></div>
    </div>

    <!--Chargement des controleurs-->
    <script src="static/app/js/app.js"></script>

    <script src="static/app/js/saisieChasseControler.js"></script>
</body>
</html>
