<!DOCTYPE html>
<html ng-app="saisieChasseApp">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css"/>

<script src="static/node_modules/angular/angular.min.js"></script>
<script src="static/node_modules/angular-route/angular-route.min.js"></script>

<script src="static/node_modules/angularjs-toaster/toaster.min.js"></script>
<script src="static/node_modules/angular-cookies/angular-cookies.js"></script>


<script src="static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<script src="static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

<style type="text/css">
    /* Forms */
    .ng-invalid {
      border-color: red;
      outline-color: red;
    }
</style>
</head>

<body>
    <div ng-view></div>

    <!--Chargement des controleurs-->
    <script src="static/app/app.js"></script>
    <script src="static/app/constants.js"></script>

    <script src="static/app/saisie_chasse/saisieChasse-ctl.js"></script>
    <script src="static/app/login/loginControler.js" charset="utf-8"></script>
</body>
</html>
